<% content_for :title, "Random number generator" %>
<div class="jumbotron">
  <h1 class="display-3">Random Number Generator</h1>
  <p class="lead"></p>
  <hr class="my-2">
  <p class="lead">
      <div class="row">
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
        <div class="col-md">
          <span class="display-1 number"></span>
        </div>
      </div>
  </p>
  <hr class="my-2">
  <p class="lead">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="btnSpin">Spin</button>
  </p>
</div>